*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --gradient-start: #672280;
  --gradient-end: #A626D3;
  --white: #fff;
  --grey-border: rgb(191, 191, 191);
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family:  'Roboto Mono', monospace;;
}

.headerSection {
  box-shadow: 0px 0px 20px 10px rgb(185, 185, 185);
}

.headerContainer, 
.logoSection,
.formContainer,
.mainContainer {
  display: flex;
}

.headerContainer, 
.logoSection {
  align-items: center;
}

.headerContainer {
  width: 100vw;
  justify-content: space-between;
  padding: 15px 30px;
  background-image: 
  linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

.logoSection, .description {
  color: var(--white);
}

.logoSection {
  min-width: 350px;
  justify-content: space-between;
}

.troll {
  width: 80px;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.description {
  font-size: 20px;
}

.formContainer {
  justify-content: center;
}

.mainContainer {
  flex-direction: column;
  justify-content: center;
}

form {
  margin-top: 2rem;
}

.inputs {
  margin-bottom: 1.5rem;
}

.inputs > *, 
button {
  height: 2.5rem;
  border-radius: 5px;
}

.inputs > * {
  font-size: 1.1rem;
  width: 290px;
  text-indent: 5px;
  border: solid 1px var(--grey-border);
  font-family: 'Roboto Mono';
}

.bottomText {
  margin-left: 2rem;
}

button {
  width: 100%;
  background-image: 
  linear-gradient(to right, var(--gradient-start), var(--gradient-end));
  color: var(--white);
  border: none; 
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Roboto Mono';
}

button:hover {
  cursor: pointer;
}

.mainContainer img {
  padding: 45px 20px;
}

.memeImg {
  max-width: 450px;
  max-height: 900px;
  margin-left: auto;
  margin-right: auto;
}